@cl-lighterblue: rgb(237,247,251);
@cl-milktea: rgb(235,223,197);
@cl-tapioca: rgb(81,78,70);
@cl-white: rgb(255,255,255);
@cl-blue: rgb(188,207,254);

@font-face {
	font-family: geomanist-black;
	src: url('/fonts/geomanist-black-webfont.ttf') format('truetype');
}

@font-face {
	font-family: geomanist-bold;
	src: url('/fonts/geomanist-bold-webfont.ttf') format('truetype');
}

@font-face {
	font-family: geomanist-book;
	src: url('/fonts/geomanist-book-webfont.ttf') format('truetype');
}

@font-face {
	font-family: geomanist-extralight;
	src: url('/fonts/geomanist-extralight-webfont.ttf') format('truetype');
}

@font-face {
	font-family: geomanist-light;
	src: url('/fonts/geomanist-light-webfont.ttf') format('truetype');
}

@font-face {
	font-family: geomanist-medium;
	src: url('/fonts/geomanist-medium-webfont.ttf') format('truetype');
}

@font-face {
	font-family: geomanist-regular;
	src: url('/fonts/geomanist-regular-webfont.ttf') format('truetype');
}

@font-face {
	font-family: geomanist-thin;
	src: url('/fonts/geomanist-thin-webfont.ttf') format('truetype');
}

@font-face {
	font-family: geomanist-ultra;
	src: url('/fonts/geomanist-ultra-webfont.ttf') format('truetype');
}

body {
	background-color: @cl-lighterblue;
	font-family: geomanist-black;
}