@cl-lighterblue: rgb(237,247,251);
@cl-milktea: rgb(235,223,197);
@cl-tapioca: rgb(81,78,70);
@cl-white: rgb(255,255,255);
@cl-blue: rgb(188,207,254);
@cl-darkerblue: #768bc2;

@font-face {
	font-family: geomanist-black;
	src: url('/fonts/geomanist-black-webfont.ttf') format('truetype');
}

@font-face {
	font-family: geomanist-bold;
	src: url('/fonts/geomanist-bold-webfont.ttf') format('truetype');
}

@font-face {
	font-family: geomanist-book;
	src: url('/fonts/geomanist-book-webfont.ttf') format('truetype');
}

@font-face {
	font-family: geomanist-extralight;
	src: url('/fonts/geomanist-extralight-webfont.ttf') format('truetype');
}

@font-face {
	font-family: geomanist-light;
	src: url('/fonts/geomanist-light-webfont.ttf') format('truetype');
}

@font-face {
	font-family: geomanist-medium;
	src: url('/fonts/geomanist-medium-webfont.ttf') format('truetype');
}

@font-face {
	font-family: geomanist-regular;
	src: url('/fonts/geomanist-regular-webfont.ttf') format('truetype');
}

@font-face {
	font-family: geomanist-thin;
	src: url('/fonts/geomanist-thin-webfont.ttf') format('truetype');
}

@font-face {
	font-family: geomanist-ultra;
	src: url('/fonts/geomanist-ultra-webfont.ttf') format('truetype');
}

/*@std-boxshadow: 1px 1px 1px #888888;*/
@std-boxshadow: 0;
@container-padding: 30px;


@import "{}/client/stylesheets/home.import.less";
@import "{}/client/stylesheets/newhost.import.less";
@import "{}/client/stylesheets/postuserorder.import.less";
@import "{}/client/stylesheets/order.import.less";
@import "{}/client/stylesheets/host.import.less";
@import "{}/node_modules/toastr/toastr.less";

html, body {
	background-color: @cl-milktea;
	color: @cl-tapioca;
	font-family: geomanist-regular;
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.back-btn {
	border-radius: 50%;
	background-color: @cl-tapioca;
	color: @cl-lighterblue;
	font-family: geomanist-bold;
	font-size: 38px;
	height: 50px;
	width: 50px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 101;
}

.container-center {
	text-align: center;
	z-index: 100;
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
	padding-top: @container-padding;
	max-height: ~"calc(100vh - 50px)";
}

.background-circle {
	position: fixed;
	background-color: @cl-tapioca;
	opacity: 0.3;
	border-radius: 50%;
	width: 70vw;
	height: 70vw;
	max-width: 600px;
	max-height: 600px;
	z-index: 2;
}

.svg-milktea {
	position: fixed;
	width: 100vw;
	height: 100vh;
	bottom: 0;
	left: 0;
	z-index: 1;
	polygon.milktea {
		fill: @cl-milktea;
		opacity: 0.8;
	}
	polygon.straw {
		fill: @cl-blue;
	}
}