div.home.circle {
	background-color: @cl-tapioca;
	border-radius: 50%;
	overflow: hidden;
	min-width: 700px;
	width: 120vw;
	max-width: 800px;
	min-height: 700px;
	height: 120vw;	
	max-height: 800px;
	margin: auto;
	text-align: center;
	padding: 10vh;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;

	h1 {
		margin-top: 15vh;
		font-family: geomanist-bold;
		color: white;
		font-size: 800%;
		margin-bottom: 20px;
	}

	.join-room {
		width: calc(~"60% - 84px");
	}

	.redir-btn, .join-room {
		padding: 40px;
		font-size: 200%;
		border: 2px solid white;
		border-radius: 6px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 40px;
		font-family: geomanist-extralight;
	}

	.redir-btn {
		display: block;
		color: white;
		background-color: rgba(0,0,0,0);
		width: 60%;
		text-decoration: none;
	}

	.redir-btn:hover {
		background-color: darken(@cl-tapioca, 10%);
		cursor: pointer;
	}

	.redir-btn:active {
		background-color: darken(@cl-tapioca, 15%);
		color: @cl-tapioca;
	}

	.join-room.flipInY {
		position: absolute;
	}
}

@media only screen and (max-width: 900px) {
	div.home.circle {
		width: 80vw;
		height: 80vw;
		min-width: 200px;
		min-height: 200px;

		h1 {
			margin-top: 7vh;
			font-size: 15vw;
		}

		.join-room {
			width: calc(60% - (10vw + 4px) );
		}

		.redir-btn, .join-room {
			font-size: 3vw;
			padding: 5vw;
			margin-bottom: 5vw;
		}
	}	
}